@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
}

.photo-main{
  background: url('./images/holding-hands.jpg') no-repeat center center;
  background-size: cover;
  min-height: 700px;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -250;
  width: 100%;
}
.blur{
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  height: 100%;
	width: 100%;
}
.gold{
  color: #e2b123;
}
.white{
  color: #fff;
}
.bg-gold{
  background-color: #e2b123;
}
.bg-white{
  background-color: #fff;
}
.clicker{
  font-family: 'Clicker Script', cursive !important;
}
.poppins{
  font-family: 'Poppins', sans-serif !important;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rings-logo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.names{
  width: 100%;
  font-size: 100px;
  text-align: center;
}
.countdown-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.countdown{
  width: 120px;
  height: 90px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
  color: #e2b123;
  text-shadow: 0 1px 2px #000;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}
.date-wrapper{
  font-size: 36px;
  font-weight: 700;
}
.pt-4{
  padding-top: 2rem;
}
.pb-4{
  padding-bottom: 2rem;
}
.py-4{
  padding-top: 4rem;
  padding-bottom: 4rem;
}